<div class="max-w-3xl mx-auto px-4 py-8">
  <h1 class="text-3xl text-center font-bold mb-8" style="color:#71d88c;">Edytuj przepis</h1>

  <%= render partial: "form", locals: { recipe: @recipe, categories: @categories } %>
</div>